/*
 * styling the header here
 */
 
 .page-header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #677bb8;
  background-image: url('../images/black-orchid.png');
  color: beige;
}

.page-header img {
  margin-top: 20px;
}