nav {
  height: 120px;
  width: 100%;
  background-color: #4460bcf4;
  color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#write-tweet p {
  margin-bottom: 0px;
}

div#write-tweet i {
  color: orangered;
  flex-shrink: 1;
  animation-name: icon-bounce;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

nav button {
  border: none;
  background-color: #ffffff00;
  color: #ffffff;
}

nav button:hover {
  font-weight: bolder;
}


@keyframes icon-bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); } 
  100% { transform: translateY(0); }
}