/*
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * https://css-tricks.com/international-box-sizing-awareness-day/
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
* Variables
*/
/* Mixins */
/*
 * Global layout stuff
 */
body {
  color: #47443d;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body section {
  width: 100%;
}

#logo {
  color: white;
  position: fixed;
  left: 40px;
  top: 45px;
  font-family: "Bungee", cursive;
  font-size: 16;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 55px;
  width: 100%;
}

#tweets-container {
  width: 90%;
}

button#scroll-top {
  display: none;
  position: fixed;
  right: 50px;
  bottom: 20px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  color: rgb(238, 64, 0);
  border: solid 2px #2044b9;
  background-color: rgb(73, 104, 204);
}
button#scroll-top i {
  font-size: 40px;
}

#scroll-top:hover i {
  font-size: 60px;
}

/*
 * Adjusting to desktop
 */
@media only screen and (min-width: 1024px) {
  nav {
    position: fixed;
  }
  #logo {
    z-index: 100;
  }
  .page-content {
    flex-direction: row-reverse;
  }
  .page-header {
    position: fixed;
    justify-content: flex-start;
    top: 120px;
    left: 0px;
    width: 40%;
    height: 1000px;
  }
  main {
    padding-top: 135px;
    width: 60%;
  }
  #scroll-top {
    display: none;
  }
}
/*
 * New Tweet Area
 */
section.new-tweet {
  display: none;
  flex-direction: column;
  width: 90%;
  align-items: center;
  padding: 10px;
}
section.new-tweet button {
  font-family: "Bungee", cursive;
  background-color: #4460b5;
  color: #ffffff;
  margin-top: 10px;
}

#tweet-text {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: solid #555555 2px;
  outline: none;
  width: 100%;
  background-color: #f4f1ec;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.below-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

label {
  color: orangered;
}
